@keyframes shake {

  20% {
    transform: translateX(0.3em);
  }
  40% {
    transform: translateX(-0.3em);
  }
  60% {
    transform: translateX(0.3em);
  }
  80% {
    transform: translateX(-0.3em);
  }
  10% {
    transform: translateX(0);
  }
}