#track_list {
  // height: 100%;
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1em 0;
  .song {
    img { 
      height: 100%;
      object-fit: cover;
      margin: 0 10px;
      border-radius: 5px;
    }
    gap: 10px;
    display: flex;
    height: 4em;
    margin: 1em;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .description {
      flex-grow: 1;
    }
  }
}