$color_black: #000000;
$color_yellow: #FFB20F;
$color_white: #FFFFFF;
$color_red: #A81620;
$color_dark_red: #5E0C12;
$font_family: 'Ubuntu', 'Segoe UI', sans-serif;

$color_main: #034C8C;
$color_main_75: #034c8cbf;
$color_main_60: #034c8c99;
$color_main_50: #034c8c80;
$color_main_25: #034c8c40;
$color_secondary: #048ABF;
$color_secondary_75: rgba(5, 138, 191, 0.75);
$color_secondary_60: rgba(5, 138, 191, 0.6);
$color_secondary_50: rgba(5, 138, 191, 0.5);
$color_secondary_25: rgba(5, 138, 191, 0.25);


// $color_secondary: #034C8C;
// $color_secondary_75: #034c8cbf;
// $color_secondary_60: #034c8c99;
// $color_secondary_50: #034c8c80;
// $color_secondary_25: #034c8c40;
// $color_main: #048ABF;
// $color_main_75: rgba(5, 138, 191, 0.75);
// $color_main_60: rgba(5, 138, 191, 0.6);
// $color_main_50: rgba(5, 138, 191, 0.5);
// $color_main_25: rgba(5, 138, 191, 0.25);
$color_dark: #071126;